<%= form_for(@course_request) do |f| %>
  <% if @course_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_request.errors.count, "error") %> prohibited this course_request from being saved:</h2>

      <ul>
      <% @course_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name %><br>
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :training_method %><br>
    <%= f.text_field :training_method %>
  </div>
  <div class="field">
    <%= f.label :training_category %><br>
    <%= f.text_field :training_category %>
  </div>
  <div class="field">
    <%= f.label :tuition_cost %><br>
    <%= f.text_field :tuition_cost %>
  </div>
  <div class="field">
    <%= f.label :planned_travelcost %><br>
    <%= f.text_field :planned_travelcost %>
  </div>
  <div class="field">
    <%= f.label :actual_travelcost %><br>
    <%= f.text_field :actual_travelcost %>
  </div>
  <div class="field">
    <%= f.label :total_cost %><br>
    <%= f.text_field :total_cost %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :training_date %><br>
    <%= f.date_select :training_date %>
  </div>
  <div class="field">
    <%= f.label :completion_status %><br>
    <%= f.text_field :completion_status %>
  </div>
  <div class="field">
    <%= f.label :approval_status %><br>
    <%= f.text_field :approval_status %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
