<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @user.job_title %>
</p>

<p>
  <strong>Job assignment:</strong>
  <%= @user.job_assignment %>
</p>

<p>
  <strong>Supervisor's Email:</strong>
  <%= @user.supervisorEmail %>
</p>


<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>My Courses</h2>
<table>
  <tr>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Training Method</th>
    <th>Training Category</th>
    <th>Tuition Cost</th>
    <th>Planned Travel Cost</th>
    <th>Actual Travel Cost</th>
    <th>Total Cost</th>
    <th>Location</th>
    <th>Training Date</th>
    <th>Completion Status</th>
    <th>Approval Status</th>
  </tr>

  <% @user.course_requests.each do |courserequest| %>

<tr>
  <td><%=courserequest.course_name %></td>
  <td><%=courserequest.description %></td>
  <td><%=courserequest.training_method %></td>
  <td><%=courserequest.training_category %></td>
  <td><%=courserequest.tuition_cost %></td>
  <td><%=courserequest.planned_travelcost %></td>
  <td><%=courserequest.actual_travelcost %></td>
  <td><%=courserequest.total_cost %></td>
  <td><%=courserequest.location %></td>
  <td><%=courserequest.training_date %></td>
  <td><%=courserequest.completion_status %></td>
  <td><%=courserequest.approval_status %></td>

  <td><%= link_to 'Show', courserequest %></td>
</tr>

<%end%>
</table>
<%if current_user.isSupervisor%>
<h2>My Employees' Course Requests</h2>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Course Name</th>
    <th>Training Date</th>
    <th>Approval Status</th>
  </tr>

  <% @user.employees.each do |employee| %>
      <% employee.course_requests.each do |courserequest| %>
          <% if courserequest.approval_status != "ACCEPTED" && courserequest.approval_status != "REJECTED" %>
      <tr>
        <td><%=employee.last_name %></td>
        <td><%=employee.first_name %></td>
        <td><%=courserequest.course_name %></td>
        <td><%=courserequest.training_date %></td>
        <td>
          <%= form_for(courserequest) do |f| %>
              <div class="field">
                <%= f.hidden_field :approval_status, :value => "ACCEPTED" %>
              </div>
              <div class="actions">
                <%= f.submit "Accept" %>
              </div>
          <% end %>
          <%= form_for(courserequest) do |f| %>
              <div class="field">
                <%= f.hidden_field :approval_status, :value => "REJECTED" %>
              </div>
              <div class="actions">
                <%= f.submit "Reject" %>
              </div>
          <% end %>
        </td>
      </tr>
      <%end %>
  <%end%>
      <%end%>
  <%end%>
</table>

<a href="http://localhost:3000/course_requests/new">New Course Request</a>