<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @user.job_title %>
</p>

<p>
  <strong>Job assignment:</strong>
  <%= @user.job_assignment %>
</p>

<table>
  <tr>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Training Method</th>
    <th>Training Category</th>
    <th>Tuition Cost</th>
    <th>Planned Travel Cost</th>
    <th>Actual Travel Cost</th>
    <th>Total Cost</th>
    <th>Location</th>
    <th>Training Date</th>
    <th>Completion Status</th>
    <th>Approval Status</th>
  </tr>

  <% @user.course_requests.each do |courserequest| %>

<tr>
  <td><%=courserequest.course_name %></td>
  <td><%=courserequest.description %></td>
  <td><%=courserequest.training_method %></td>
  <td><%=courserequest.training_category %></td>
  <td><%=courserequest.tuition_cost %></td>
  <td><%=courserequest.planned_travelcost %></td>
  <td><%=courserequest.actual_travelcost %></td>
  <td><%=courserequest.total_cost %></td>
  <td><%=courserequest.location %></td>
  <td><%=courserequest.training_date %></td>
  <td><%=courserequest.completion_status %></td>
  <td><%=courserequest.approval_status %></td>

</tr>

<%end%>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= button_to 'Add A Course Request', course_requests_path(:course_request) %>
